.about{
    .title{
        line-height: 120px;
        font-size: 18px;
        text-align: center;
        border-bottom: 1px solid $default-border-color;
    }
    .con{
        color: #999;
        font-size: 16px;
        line-height: 2;
        padding: 45px 0;
    }
}