{template 'common/header'}
<style>
	.qrcode-block img{width:200px;}
	.image-block img{width:410px;height:680px;}
</style>
<link rel="stylesheet" href="../addons/card_jpg/template/css/style.css">

<ul class="nav nav-tabs">
    <li class="active"><a href="">名片入口</a></li>
</ul>
<div class="main">
	<div class="panel panel-default">
		<div class="panel-heading">
			名片入口
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">直接URL</label>
				<div class="col-sm-9 col-xs-12 ">
					<input type="text" class="form-control" readonly="readonly" name="url_show" value="{$item['url_show']}" />
					<span class="help-block">
						<strong>直接指向到入口的URL。您可以在自定义菜单（有oAuth权限）或是其它位置直接使用。</strong>
					</span>
				</div>

			</div>
			<div class="form-group js-qrcode-show">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">二维码</label>
				<div class="col-sm-9 col-xs-12 ">
					<div class="qrcode-block" style="margin-top:10px;">
					    <img src="{$item['url']}" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">海报</label>
				<div class="col-sm-9 col-xs-12 ">
					<div class="image-block" style="margin-top:10px;">
					    <img src="{$item['poster']}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{template 'common/footer'}